<?xml version="1.0"?>
<launch>
    <!-- Launch file to load the robots and cameras in simulation and show in rviz-->
    <include file="$(find chesslab_setup)/launch/new-dashboard.launch.xml">
            <arg name="load_sim" value="false" />
            <arg name="joint_gui_controller" default="true" />
            <arg name="paused" default="true" />
            <arg name="show_rviz" value="true" />
            <arg name="team_A_enabled" value="true" />
            <arg name="camera_enabled" value="true" />
            <arg name="load_aruco_detector" value="true" />
            <!--arg name="load_action_clients" value="false" /-->
    </include>
</launch>
